.homes {
  grid-column: 3/11;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

@media only screen and (max-width: 1000px) {
  .homes {
    grid-column: 2/10;
  }
}

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
}
.home__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 1;
}
.home__like {
  fill: #c69963;
  height: 2.5rem;
  width: 2.5rem;
  grid-row: 1/2;
  grid-column: 2/3;
  z-index: 2;
  justify-self: end;
  margin: 1;
}
.home__name {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;
  z-index: 3;
  width: 80%;
  justify-self: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
}
.home__location,
.home__rooms {
  margin-top: 2.5rem;
}
.home__location,
.home__rooms,
.home__area,
.home__price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.home__location svg,
.home__rooms svg,
.home__area svg,
.home__price svg {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.home__btn {
  background-color: #c69963;
  grid-column: 1/-1;
  text-decoration: none;
  text-align: center;
}
