.footer {
  background-color: #101d2c;
  grid-column: 2/14;
  padding: 8rem;
}
@media only screen and (max-width: 1000px) {
  .footer {
    grid-column: 1/14;
  }
}
.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.05);
}
.nav__link:hover,
.nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}
.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center;
}
